@model Amazon.S3.Model.S3Object
@{
    ViewData["Title"] = "File page";
    Layout = "_Layout";
}
@await Html.PartialAsync("Header")
<div class="d-flex align-items-center justify-content-center flex-column" style="text-align: center; height: 600px;">
    <img class="file-icon" src="~/images/file.png"/>
    @{
        var index = Model.Key.LastIndexOf("/");
    }
    <div><b>@Model.Key.Remove(0, index + 1)</b></div>
    <div>Uploaded at @Model.LastModified</div>
    <div>Size: @Model.Size</div>
    <div class="d-flex flex-row" style="padding-top: 7px;">
        <form method="post" asp-action="RenameObject" asp-controller="File">
            <button style="border: 1.5px solid white; border-radius: 8px; background-color: #6c757d; color: white; margin-right: 7px; display: flex; align-items: center; padding: 5px;" class="renameButton" type="button" onclick="showRenameInput(this)"><img class="small-icon"  src="~/images/small-icons/pencil-icon.png"/>Rename</button>
            <input type="hidden" name="oldName" value="@Model.Key"/>
            <input class="new-name" style="display: none;" type="text" placeholder="Enter new name" name="newName">
            <button class="okButton" style="display: none; border: none;" type="submit">Ok</button>
        </form>
        <form method="post" asp-action="DeleteObject" asp-controller="File">
            <input type="hidden" name="fileName" value="@Model.Key"/>
            <button style="border: 1.5px solid white; border-radius: 8px; background-color: red; color: white; margin-right: 7px; display: flex; align-items: center; padding: 5px;" type="submit"><img class="small-icon" src="~/images/small-icons/bin-icon.png"/>Delete</button>
        </form>
        <form method="post" asp-action="DownloadObject" asp-controller="File">
            <input type="hidden" name="fileName" value="@Model.Key"/>
            <button style="background-color: #0b5ed7; color: white; margin-right: 7px; border: 1.5px solid white; border-radius: 8px; display: flex; align-items: center; padding: 5px;" type="submit"><img class="small-icon" src="~/images/small-icons/download-icon.png"/>Download</button>
        </form>
    </div>
</div>